In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns # visualizations
import os

In [2]:
# Read data
data_csv = "2019-Oct.csv"
raw_data = pd.read_csv(data_csv)

In [3]:
# Get only purchases
only_purchases = raw_data.loc[raw_data.event_type == 'purchase']

In [4]:
raw_data.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d

In [5]:
# With brands only
purchases_with_brands = only_purchases.loc[only_purchases.brand.notnull()]
top_sellers = purchases_with_brands.groupby('brand').brand.agg([len]).sort_values(by='len', ascending=False)
top_sellers.head(20)

             len
brand
samsung   172896
apple     142873
xiaomi     56616
huawei     23501
lucente    11578
oppo       10891
cordiant   10551
lg          8727
acer        6882
sony        6729
elenberg    6190
artel       6124
triangle    5835
bosch       5705
indesit     5024
nokian      4907
lenovo      4578
philips     4463
vitek       4107
redmond     4003

## User's journey

This example shows a common flow of a random user: what she/he looked and what bought.

You can read it like:

    The user checked out several iPhones
    Purchased one iPhone in 1 click (without cart event)
    Viewed 2 unknown products of brand arena
    Visited some Apple's headphones and purchased one
    After that visited more expensive one but decided to not buy it

In [6]:
raw_data.loc[raw_data.user_session == "3c80f0d6-e9ec-4181-8c5c-837a30be2d68"].sort_values(by='event_time')

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
127,2019-10-01 00:01:45 UTC,view,1003305,2053013555631882655,electronics.smartphone,apple,612.43,551377651,3c80f0d6-e9ec-4181-8c5c-837a30be2d68
152,2019-10-01 00:02:08 UTC,view,1002528,2053013555631882655,electronics.smartphone,apple,643.23,551377651,3c80f0d6-e9ec-4181-8c5c-837a30be2d68
200,2019-10-01 00:02:47 UTC,view,1002532,2053013555631882655,electronics.smartphone,apple,642.69,551377651,3c80f0d6-e9ec-4181-8c5c-837a30be2d68
308,2019-10-01 00:04:37 UTC,purchase,1002532,2053013555631882655,electronics.smartphone,apple,642.69,551377651,3c80f0d6-e9ec-4181-8c5c-837a30be2d68
328,2019-10-01 00:05:10 UTC,view,1002532,2053013555631882655,electronics.smartphone,apple,642.69,551377651,3c80f0d6-e9ec-4181-8c5c-837a30be2d68
362,2019-10-01 00:05:46 UTC,view,41300118,2091727629378912491,NaN,arena,48.65,551377651,3c80f0d6-e9ec-4181-8c5c-837a30be2d68
383,2019-10-01 00:06:07 UTC,view,41300138,2091727629378912491,NaN,arena,411.59,551377651,3c80f0d6-e9ec-4181-8c5c-837a30be2d68
530,2019-10-01 00:08:53 UTC,view,4804056,2053013554658804075,electronics.audio.headphone,apple,161.98,551377651,3c80f0d6-e9ec-4181-8c5c-837a30be2d68
569,2019-10-01 00:09:24 UTC,view,4804056,2053013554658804075,electronics.audio.headphone,apple,161.98,551377651,3c80f0d6-e9ec-4181-8c5c-837a30be2d68
603,2019-10-01 00:09:54 UTC,purchase,4804056,2053013554658804075,electronics.audio.headphone,apple,161.98,551377651,3c80f0d6-e9ec-4181-8c5c-837a30be2d68
667,2019-10-01 00:10:52 UTC,view,4802036,2053013554658804075,electronics.audio.headphone,apple,171.56,551377651,3c80f0d6-e9ec-4181-8c5c-837a30be2d68